<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Bloc Note
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="gallerie">

    <!-- Liste des Notes -->
    <div class="element" *ngFor="let maNote of noteService.listNote">
      <ion-thumbnail>
        <img [src]="maNote.photo">
      </ion-thumbnail>
      <div class="center">
        <p>{{maNote.titre}}</p>
      </div>
    </div>

  </div>

  <!-- Bouton d'ajout de nouvelle notes -->
  <ion-fab vertical="bottom" horizontal="center" slot="fixed" (click)="buttonAjoutNote()">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
